<!-- templates/navbar.html -->
<header>
    <nav class="navbar">
        <div class="navbar-menu">
            <a class="navbar-item" href="/today">day</a>
            <a class="navbar-item" href="/randoalbumn">rand</a>
            <a class="navbar-item" href="/new">new</a>
            <a class="navbar-item" href="/favorite">fav</a>
            <a class="navbar-item" href="/site/xiutaku">xiu</a>
            <a class="navbar-item" href="/site/khd">4k</a>
            <a class="navbar-item" href="/site/cosplaytele">cos</a>
            <a class="navbar-item" href="/site/buondua">buon</a>
            <a class="navbar-item" href="/main">home</a>
            <a class="navbar-item" href="/star">star</a>
            <a class="navbar-item" href="/girls">girl</a>
        </div>
    </nav>
</header>